[submodule "ygyr-server"]
	path = ygyr-server
	url = git@github.com:xentixar/ygyr-server.git
[submodule "ygyr-app"]
	path = ygyr-app
	url = git@github.com:sabinmhx/ygyr-app.git
[submodule "ygyr-ml"]
	path = ygyr-ml
	url = git@github.com:kali-37/ygyr-ml.git
[submodule "ygyr-scraper"]
	path = ygyr-scraper
	url = git@github.com:leyuskckiran1510/ygyr-scraper.git
[submodule "YGYR-frontend"]
	path = YGYR-frontend
	url = git@github.com:Sadnesh/YGYR-frontend.git
